# required
APP_NAME=cirfgdps
APP_DESCRIPTION=a geometry dash private server implementation w/ FastAPI. with <3 by lemo && yux ^^
APP_VERSION=0.1.0
APP_SECRET_KEY=ril73-is-a-very-secret-key-that-is-at-least-32-bytes-long  # atleast 32 characters
APP_CSRF_SECRET=ril73-is-a-very-secret-key-that-is-at-least-32-bytes-long  # atleast 32 characters

DATABASE_URL=postgresql+asyncpg://admin:admin@postgres:5432/app
REDIS_URL=redis://redis:6379/0

# optional
ENABLE_API_DOCS=true
FRONTEND_URL=http://localhost:5173
API_URL=http://localhost:8000

ACCESS_TOKEN_EXPIRE_MINUTES=24
REFRESH_TOKEN_EXPIRE_DAYS=7
ALGORITHM=HS256
COOKIE_SECURE=false  # change in prod (HTTPS)
COOKIE_SAMESITE=lax  # strict or none (none requires SECURE)
COOKIE_DOMAIN=  # e.g. "example.com" if needed
